<header>
    <div class="container">

        <div class="title">Yuki's work in progress</div>
        <div class="description">
            Machine Learning, Shader, etc
            <span class="divider">|</span>
            <a href="https://github.com/yukku">https://github.com/yukku</a>

        </div>

        <!-- <div class="title">{{ site.title }}</div>
        <div class="description">
            {{ site.description }}
            <span class="divider">|</span>
            {{ site.fullname }}

        </div> -->

    </div>
</header>
