// @name Header
// @description All header styles

header {
    // border-bottom: 1px solid #edefee;
    padding: ($spacer * 1) 0;
    margin-bottom: ($spacer * 2);

    @media(min-width: 640px) {
        // padding: ($spacer * 10) 0 ($spacer * 3);
        margin-bottom: ($spacer * 3);
    }
}

.title {
    color: #111;
    // text-transform: uppercase;
    font-size: 2.2rem;
    line-height: 1;
    // font-weight: bold;
    margin: 10px 0 5px 0;

    @media(min-width: 640px) {
        // font-size: 2.2rem;
        max-width: 60%;
    }
}

.description{
    font-size: 0.8rem;
    // font-weight: bold;

    // text-transform: uppercase;

    // font-weight: bold;

}
.divider{
    line-height: 1;

    padding: 0 5px;


}


