.post-block {
    border-bottom: 1px solid #edefee;
    padding: ($spacer * 3) 0;

    .post-title {
        font-size: 2.0rem;
        line-height: 1;
        font-weight: bold;

        // padding: ($spacer * 1) 0;
        margin-bottom: ($spacer * 2);
        display: block;

        color: #111;

        &:active {
            text-decoration: none;
        }

        &:visited {
            text-decoration: none;
        }

        &:link {
            text-decoration: none;
        }

        &:hover {
            text-decoration: none;
        }
    }

    .post-date {
        color: #777;
        text-transform: uppercase;
        font-size: 0.8rem;
        line-height: 1;
        // font-weight: bold;
        margin-bottom: ($spacer * 0.5);
        display: block;
    }

}

